# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
venv/
.venv/
env/
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build artifacts
dist/
build/
*.spec

# IDEs
.vscode/
.idea/


env.txt
